h1{
    color: rgb(216, 81, 103);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.a{
    font-style: italic;
}
h2{
    color: rgb(216, 81, 103);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.b{
    color: gray;
}